.cookie-display-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.cookie-display-container img {
  height: 32px;
  width: 32px;
}

.cookie-display-container p {
  font-weight: bold;
}

.cookie-readout-wide {
  display: block;
}

.cookie-readout-narrow {
  display: none;
}

@media (min-width: 800px) {
  .cookie-readout-wide {
    display: none;
  }

  .cookie-readout-narrow {
    display: block;
  }
}
