.upgradeCard {
  /* margin: 1svw; */
  border: 2px solid black;
  border-radius: 5px;
  padding: 1svw;
  width: 100%;

  flex-basis: 23%;

  display: flex;
  justify-content: space-around;
}

.upgradeCard p {
  margin: 0;
  padding: 0;
}

.upgradeInfo {
  flex-basis: 60%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
