* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}

.cookieJarAndDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 800px) {
  .cookieJarAndDisplay {
    flex-direction: row;
  }
}
